.cardBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 15px;
    border: 3px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: 300ms;
}

.cardBtn.animateCard {
    transform: scale(1.1);
    background-color: #00b86c;
}

.title {
    color: #017143;
    font-weight: 700;
    margin: 0 10px;
}

.count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #00b86c;
    border-radius: 5px;
    font-weight: 700;
    color: #333;
}