<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/home.css">
    <title>Web Shop</title>
</head>
<body>
    <header>
        <h2>Web Shops</h2>

        <nav>
            <a href="/shops">Shops</a>
            <a href="/shopsCard">Shopping Card</a>
        </nav>
    </header>

    <section>
        <div class="content">
            <h1>We<span>b</span> Sho<span>p</span>s</h1>
            <p>Consectetur sit est eiusmod quis in pariatur amet veniam reprehenderit. Est ex qui adipisicing aliquip duis cupidatat. Dolor magna adipisicing ullamco magna et in consectetur. Minim dolor ullamco nostrud veniam enim elit laborum est nulla duis voluptate mollit amet.</p>

            <a class="btn" href="/shops">GET SHOP</a>
        </div>
    </section>
</body>
</html>